---
import Layout from "../layouts/Layout.astro";
import Test from "../components/Test.astro";
---

<Layout
  title="Balraj Johal | Lab"
  description="Some assorted experiments I've done"
>
  <main>
    <h1>Balraj Johal | Lab</h1>
    <ul role="list" class="link-card-grid">
      <Test title="Documentation" />
      <Test title="Integrations" />
    </ul>
  </main>
</Layout>

<style lang="scss"></style>
