---
import Layout from "../layouts/Layout.astro";
import LabEntryCard from "../components/LabEntryCard.astro";
import { getCollection } from "astro:content";

const entries = await getCollection("lab");
console.log(entries);
---

<Layout
  title="Balraj Johal | Lab"
  description="Some assorted experiments I've done"
>
  <h1>Balraj Johal | Lab</h1>
  <ul role="list" class="link-card-grid">
    {
      entries.map((entry) => {
        const destination = entry.slug;
        const cover = entry.data.cover;
        return (
          <LabEntryCard title="OGL" destination={destination} image={cover} />
        );
      })
    }
  </ul>
</Layout>

<style lang="scss"></style>
